:root {
    /* COLORS */
    --dark: #0B0d17;
    --light: #d0d6f9;
    --white: #ffffff;

    /* TYPOGRAPHY */

        /* font-family */
    --family-bellefair:'Bellefair', serif;
    --family-Barlow: 'Barlow Condensed', sans-serif;
}

*, *:after, *:before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: var(--dark);
}


#root {
    max-width: 144rem;
    position: relative;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    width: 100%;
    height: 9.6rem;
    position: absolute;
    top: 40px;
    z-index: 1;
}

main {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* NAVBAR */

.navbar {
    display: flex;
    max-width: 144rem;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}



.hamburger {
    display: none;
}

.navbar__list {
    list-style: none;
    display:flex;
    width: 83rem;
    height: 100%;
    align-items: center;
    backdrop-filter: blur(20px);
    padding-left: 12rem;

}

.navbar__list::before {
    content: "";
    position:absolute;
    left: -44rem;
    top: 50%;
    width: 47rem;
    height:1px;
    background-color: #979797;
    opacity: 0.6
}

.navbar__list:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3c3c3c;
    z-index: -1;
    filter: opacity(.2);
}

.navbar__list-item {
    padding-right: 4rem;
    position: relative;
}

.navbar__list-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 55px;
    right: 0;
    background-color: var(--white);
    display:none;
}


.navbar__list-link,
.navbar__list-link:visited {
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    font-family: var(--family-Barlow);
    outline: none;
}

.active{
    border-bottom: 3px solid var(--white);
    height: 100%;
    padding-bottom: 36px;

}


.navbar__list-link:hover::after,
.navbar__list-link:focus::after,
.navbar__list-link:active::after {
    display: block;
}

.navbar-number {
    font-weight: bold;
}

.h1, .h2, .h3, .h4 {
    font-family: var(--family-bellefair);
    color: var(--white);
    font-weight: 400;
}

.h1 {
    font-size: 150px;
    
}

.h2 {
    font-size: 100px;
}

.h3 {
    font-size: 56px;
}

.h4 {
    font-size: 32px;
}

.h5 {
    font-size: 28px;
    letter-spacing: 4.75px;
    color: var(--light);
    font-family:var(--family-Barlow);
    font-weight: 400;
}

.paragraph {
    color: var(--white);
    font-family: var(--family-Barlow);
    font-size: 18px;
    font-weight: 400;
}

.navbar__logobox {
    border: none !important;
    padding: 0 ;
    width: 48px;
    height: 48px;
    margin-left: 55px;
    border-radius: 50%;
    
}
/* HOMEPAGE ////////////////////////////////////////////////////////////////*/

.homepage{   
    background-image: url('assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat round;
    padding: 0 16.5rem 13.1rem;

}

.default-content {
    width: 100%;
    height: 100%;
    position: relative;

    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 0;
}

.home__text {
    width: 45rem;
    height: 38.2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__text .h5 {
    text-transform: uppercase;
}

.home__text .paragraph{
    color: var(--light);
    line-height: 3.2rem;
}

.homepage__button, .homepage__button:visited {
    text-decoration: none;    
    text-transform: uppercase;
    position: relative;
    padding: 11.6rem 6.9rem;
    background-color: var(--white);
    border-radius: 50%;
}
.homepage__button h4 {
    color: var(--dark);
}

.homepage__button::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 27.4rem;
    height: 27.4rem;
    border-radius: 50%;
    background-color: #24262f;
    z-index: -1;
    pointer-events: none;
    opacity: .8;
    transition: transform .3s;
}


.homepage__button:hover::after {
    transform: scale(1.5);
}



/* DESTINATION PAGE //////////////////////////////////////////////////////////*/

.destination {
    background-image: url('assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat round;
    padding: 0 16.5rem 13.1rem;
}

.destinationtemplate {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 72%;
}

.destination-box1 {
    width: 45% ;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    color: var(--white);
    font-size: 28px;
    font-family: var(--family-Barlow);
    letter-spacing: 4.72px;
}
.box1__pick {
    margin-bottom: 9.5rem;
    text-transform: uppercase;
}
.box1__planetfig {
    align-self: flex-end;
}
.box1__pick-number {
    opacity: .25;
    margin-right: 3.4rem;
}



.destination-box2 {
    width: 40%;
    padding-right: 5rem;
    display:flex;
    flex-direction: column;
}

.planet__list {
    display:flex;
    margin-top: 10rem;
    list-style: none;
    margin-bottom: 2.3rem;
}

.planet__name {
    margin-right: 3.5rem;;
}


.planet__name-btn {
    border: none;
    background-color: inherit;
    color: var(--light);
    font-size: 16px;
    letter-spacing: 2.7px;
    font-family: var(--family-Barlow);
    cursor: pointer;
    outline: none;
    position: relative;
    padding-bottom: 1.2rem;
    text-transform: uppercase;
}


.planet__name-btn:active,
.planet__nane-btn:focus,
.planet__name-on {
    color: var(--white);
    border-bottom: 3px solid var(--white);
    margin-bottom: -3px;
}

.planet__name-btn:hover {
    color: var(--light);
    border-bottom: 3px solid var(--light);
    margin-bottom: -3px;
}

.planet__title {
    text-transform: uppercase;
}

.planet__paragraph {
    line-height: 3.2rem;
    color: var(--light);
    margin-bottom: 8rem;
}

.planetsubinfo::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #383B4B;
    top: -28px;
}

.planetsubinfo {
    display: flex;
    width: 100%;
    position: relative;
}

.avgdistance, 
.traveltime {
    display: flex;
    flex-direction: column;
    flex:1;
}

.avgdistance__title,
.traveltime__title {
    color: var(--light);
    text-transform: uppercase;
    font-family: var(--family-Barlow);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 1.3rem;
}

.avgdistance__value,
.traveltime__value {
    font-size: 28px;
    color: var(--white);
    font-family: var(--family-bellefair);
    text-transform: uppercase;
}


/* CREW PAGE ///////////////////////////////////////////////////////////*/


.crew {
    background-image: url(/src/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat round;
    padding: 0 15rem 0 16rem;
}

.crewtemplate {
    display:flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

.crew__box1 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}

.crew__call {
    font-family: var(--family-Barlow);
    font-size: 28px;
    line-height: 4.72px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 4.75px;
    font-weight: 300;
}

.crew-text {
    margin-bottom: 1rem;
}

.crew-text__crew-role {
    font-family: var(--family-bellefair);
    text-transform: uppercase;
    opacity: .5;
    margin-bottom: 2.4rem;
}

.crew-text__crew-name {
    text-transform: uppercase;
    font-family: var(--family-bellefair);
    margin-bottom: 4rem;
}

.crew-text__crew-bio {
    color: var(--light);
    line-height: 3.2rem;
    font-weight: 300;
    width: 70%;
}

.crew__button {
    margin-right: 2rem;
    padding: 7.5px;
    border-radius: 50%;
    border: none;
    background-color: #979797;
    cursor: pointer;
}
.crew__box1-buttons {
    padding-bottom: 9rem;
}

.crew__button:hover {
    background-color: var(--light);
}
.crew__button:active {
    background-color: var(--white);
}

.crew__button-active {
    background-color: var(--white);
}


/* // TECHNOLOGY PAGE ////////////////////////////////////////////////*/

.technology {
    background-image: url(/src/assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat round;
    height: 100vh;
}

.techtemplate {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 21.2rem 0 10rem 16rem ;
    justify-content: space-between;

}

.tech__call {
    font-size: 28px;
    letter-spacing: 4.72px;
    font-family: var(--family-Barlow);
    color: var(--white);
    text-transform: uppercase;
}

.techcontent {
    display:flex;
    align-items: flex-end;
    flex:1;
}

.techcontent__buttonlist {
    align-self: center;
    margin-right: 8rem;
    margin-bottom: -3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

.techcontent__btn {
    font-family: var(--family-bellefair);
    font-weight: 300;
    font-size: 32px;
    color: var(--white);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .25);
    padding: 25px 36px;
    border-radius: 50%;
    cursor:pointer;
    position: relative;
    margin-bottom: 2rem;
}
.techcontent__btn:hover {
    border: 1px solid var(--white);
}

.tech__active {
    color: var(--dark);
    background-color: var(--white);
}

.techcontent__text {
    align-self: center;
    padding-right: 18rem;
}

.techcontent__text-subtitle {
    font-size: 16px;
    letter-spacing: 2.7px;
    font-family: var(--family-Barlow);
    font-weight: 300;
    color: var(--light);
    text-transform: uppercase;
}

.techcontent__text-title {
    text-transform: uppercase;
    margin: 11px 0 17px 0;

}

.techcontent__text-p {
    line-height: 32px;
    font-size: 18px;
    font-family: var(--family-Barlow);
    color: var(--light);
}

.techcontent__imgbox {
    align-self: flex-end;
}
.techcontent__img {
    height:527px;
    width: 515px;

}

/* MEDIA QUERIES  ////////////////////////////////////////////////////////
BREAKPOINTS: 
desktop-mini 1366PX = 85.375em
tablet-land 1130px = 70.625em
tablet 768px = 48em
phone 375px= 23.44em
*/


@media only screen and (max-width : 85.375em) {
    .navbar__list::before {
        display: none
    }
}

@media only screen and (max-width: 70.625em) {
    .destination {
        padding: 0 2.5rem 6rem;
    }

    .crew {
        padding: 0px 3rem 0 3rem;
    }

    .techtemplate {
        padding-left: 4rem;
    }

    .techcontent__text {
        padding: 0;
    }

    .techcontent__buttonlist {
        margin-right:1rem;
    }

}

@media only screen and (max-width: 48em) {

    #root {
        height: 1024px;
        overflow:hidden;
    }
    html {
        font-size: 55%;
    }
    header {
        top: 0px;
    }
    /*NAVBAR /////////////////*/
    .navbar__list {
        width: 45rem;
        padding: 48px;
    }

    .navbar__list-item {
        padding-right: 25px;
    }

    .navbar-number {
        display: none;
    }

    .navbar__list-link::after {
        top:50px;
    }

    .active {
        padding-bottom: 33px;
    }

    /*HOME ////////////////*/ 
    .homepage {
        background-image: url(assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        flex-direction: column;
        padding: 202px 159px 90px ;
        align-items: center;
    }
    .homepage__button::after {
        top: 1%;
        left: 1%;
        width: 28.4rem;
        height: 27.4rem;
    }


    /* DESTINATION //////////*/

    .destination {
        padding: 0;
        background-image: url(assets/destination/background-destination-tablet.jpg);
        background-repeat: no-repeat;
    }

    .destinationtemplate {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .destination-box1 {
        width: 100%;
        justify-content: flex-start;
    }
    .box1__pick {
        font-size: 20px;
        margin: 136px 0 60px 55px;
        width: 100%;
    }

    .box1__planetfig {
        align-self: center;
    }
    .planetimage {
        width: 300px;
    }

    .planet__title {
        font-size: 80px;
        margin-top: 10px;
    }

    .destination-box2 {
        width: 90%;
        text-align: center;
        margin-bottom: 60px;
    }

    .planet__list {
        margin-top: 30px;
        justify-content: center;
        margin-left: 35px;
    }

    .planet__name {
        margin-right: 3rem;
    }

    .planet__paragraph {
        padding: 0 32px;
    }

 /* CREW ///////////////////*/

    .crew {
        padding-top: 50px;
        background-image: url(assets/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
    }
    .crewtemplate {
        flex-direction: column;
        align-items: center;
    }

    .crew__call {
        font-size: 20px;
        align-self: flex-start;
        height: 70px;
        padding-left: 20px;
    }

    .crew__box1 {
        text-align: center;
        justify-content: end;
    }

    .crew__box1-buttons {
        padding-bottom: 50px;
    }
    .crew__button {
        padding: 6px;
    }

    .crew-text {
        height: 200px;
    }

    .crew-text__crew-name {
        margin: 0;
        font-size: 40px;
        margin-bottom: 5px
    }

    .crew-text__crew-role {
        margin-bottom: 10px;
    }

    .crew-text__crew-bio {
        width: 100%;
        height: 100px;
    }


    .crew__box2 {
        margin-bottom:-40px ;
    }

    .crew__image {
        height:572px;
    }



    /* TECHNOLOGY ////////////*/

    .technology {
        background-image: url(assets/technology/background-technology-tablet.jpg);
        background-repeat: no-repeat;
        height: 100%;
    }

    .techtemplate {
        padding: 135px 0 90px;
        
    }
    .tech__call {
        font-size: 20px;
        margin-bottom: 60px;
        padding-left: 40px;

    }

    .techcontent {
        flex-direction: column;
    }

    .techcontent__imgbox {
        width: 100%;
        order: -2;
        margin-bottom: 56px;
    }
    .techcontent__img {
        width: 102%;
        height: 310px;
    }

    .techcontent__buttonlist {
        flex-direction: row;
        order: -1;
        margin-bottom: 25px;
        justify-content: space-between;
    }

    .techcontent__btn:nth-of-type(2) {
        margin-right: 25px;
        margin-left: 25px;
    }

    .techcontent__btn {
        padding: 15px 28px;
    }

    .techcontent__text {
        text-align: center;
        width: 460px;
    }

    .techcontent__text-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 23.44em) {

    /* NAVBAR  /////*/
    #root {
        max-height: 850px;
    }
    main {
        height: auto;
    }

    .navbar__list {
        display: none;
    }

    .hamburger {
        display: block;
        background-color: transparent;
        border: none;
        margin: 33px 24px 0 0;
        cursor: pointer;
    }
    .navbar__logobox {
        margin: 33px 0 0 24px;
    }

    .navbar__list {
        display: flex ;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 254px;
        padding: 118px 0 0 32px;
        align-items: flex-start;
        display: none;
    }

    .navbar__list-item {
        padding: 0;
        width: 100%;
        margin-bottom: 32px;
    }

    .navbar-number {
        display: inline-block;
        margin-right: 11px ;
    }

    .navbar__list-link {
        height: 17px;
        padding-bottom: 0;
        width: 100%;
        display: inline-block
    }

    .active {
        border-bottom: 0;
        border-right: 3px solid var(--white);
        
    }

    .navbar__list-link::after {
        width: 3px;
        height: 17px;
        top:0;
        right:0;
    }

    .toggle {
        display: flex;
    }

    .hamburger {
        position: relative;
        z-index: 100;
    }
    /* HOMEPAGE ////////////////////////////////////*/

    .homepage {
        padding: 112px 24px 48px;
        background-size: cover;
    }

    .h5 {
        font-size: 16px;
    }

    .h1 {
       font-size: 80px; 
    }
    .paragraph {
        font-size: 15px;
        padding: 0 20px;
    }

    .home__text {
        text-align: center;
        justify-content: space-evenly;
    }

    .homepage__button {
        padding: 8.6rem 3rem;
        margin-top: 81px;
    }

    .homepage__button::after {
        width: 21.4rem;
        height: 21.4rem;
    }

    /*DESTINATION /////////////////////////*/

    .destination {
        background-size: cover;
        padding: 91px 24px 58px;
        height: 100%;
    }
    .box1__pick {
        margin: 10px 0 0 0;
        font-size: 16px;
        text-align: center;
    }

    .box1__planetfig {
        width: 170px;
        height: 170px;
        margin-top: 32px;
        margin-bottom: 20px;
    }

    .planetimage {
        width: 170px;
    }

    .destination-box2 {
        padding: 0;
    }

    .planet__title {
        font-size: 56px ;
    }

    .planet__paragraph {
        padding: 0;
        margin-bottom: 5.5rem;
    }

    .planetsubinfo {
        flex-direction: column;
    }

    .avgdistance {
        margin-bottom: 12px;
    }


    /* CREW PAGE //////////////////////////// */

    .crew {
        padding: 150px 24px 104px;
    }

    .crew__call {
        font-size: 16px;
        
        position: absolute;
        top: 110px;
        left: 50px;
    }

    .crew__box2 {
        height: 223px;
        order: -2;
        margin-bottom: 32px;
    }
    .crew__image {
        height: 223px;
    }

    .crew__box1-buttons {
        padding: 0;
        order: -1;
        margin-bottom: 36px;
    }

    .crew-text__crew-role {
        font-size: 16px ;
        margin-bottom: 20px;
    }

    .crew-text__crew-name {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .crew-text__crew-bio {
        font-size: 15px;
    }

    /*TECHNOLOGY PAGE ////////////////*/

    .technology {
        height: 100%;
    }

    .techtemplate {
        padding-top: 110px;
    }

    .tech__call {
        font-size: 16px;
        padding: 0;
        align-self: center;
        margin-bottom: 37px;
    }

    .techcontent__imgbox {
        height: 170px;
        margin-bottom: 26px;
    }
    .techcontent__img {
        height: 170px;
    }

    .techcontent__btn {
        font-size: 16px;
        padding: 11px 19px;
    }
    .techcontent__btn:nth-of-type(2) {
        margin-right: 16px;
        margin-left: 16px;
    }

    .techcontent__text-subtitle {
        font-size: 14px;
    }

    .techcontent__text {
        font-size: 24px;
    }

    .techcontent__text-p {
        padding: 0 80px;
    }
}